{% extends "layout.html" %}
{% block content %}
    {% for truck in row %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ row }}</a> <br/>
              <small class="text-muted">{{ truck.vehicleiD }}</small>
            </div>
           
          </div>
        </article>
     {% endfor %}
	  {% for truck in row2 %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ row }}</a> <br/>
              <small class="text-muted">{{ truck.vehicleprice }} {{ truck.make }}</small>
            </div>
           
          </div>
        </article>
     {% endfor %}
	
{% endblock content %}