{% extends "layout.html" %}
{% block content %}
    {% for row in joined_m_n %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('assign', essn=row.essn, pno=row.pno) }}"><small class="text-muted">{{ row.fname }} {{ row.lname }} works on {{ row.pname }} for {{ row.hours }} hours</a></small><br/>
            </div>
          </div>
        </article>
     {% endfor %}
	
{% endblock content %}